@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

$primary-color: hsl(257, 40%, 49%);
$secondary-color: hsl(300, 69%, 71%);
$heading-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/bg-desktop.svg);
  background-color: $primary-color;
  background-repeat: no-repeat;
  // background-size: cover;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 35px;
  margin-left: 80px;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  width: auto;

  .img {
    margin-top: 56px;
    margin-left: 30px;
  }

  .text {
    color: white;
    margin-top: 95px;
    width: 40%;
    // margin-left: 90px;
    padding-left: 90px;
    margin-left: -30px;

    .heading-text {
      display: block;
      font-family: $heading-font;
      font-size: 44px;
      font-weight: 600;
      margin-bottom: 24px;
      width: 80%;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      font-family: $body-font;
      padding-right: 70px;
      line-height: 1.5;
      width: 94%;
    }

    .button {
      margin-top: 30px;
      width: 200px;
      height: 60px;
      background-color: white;
      border-radius: 50px;
      border: none;
      color: $primary-color;
      font-size: 18px;
      font-weight: 400;
      font-family: $heading-font;
      cursor: pointer;
      // transition: 0.3s;
      box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.25);

      &:hover {
        background-color: $secondary-color;
        color: white;
      }
    }
  }
}

.icons {
  float: right;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 150px;
  margin-top: -15px;

  .fa-brands {
    font-size: 20px;
    padding: 10px;
    color: white;
    border: 2px solid white;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      color: darken($secondary-color, 15%);
      border-color: darken($secondary-color, 15%);
    }
  }
}

footer {
  text-align: center;
  margin-top: 40px;

  .attribution {
    font-size: 11px;

    a {
      color: hsl(0, 0%, 100%);
    }
  }
}

@media (max-width: 1030px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
  }

  .logo {
    height: auto;
    width: auto;
    margin: 6% 0 0 11%;

    img {
      width: 35%;
    }
  }

  .container {
    flex-direction: column;
    margin-top: 50px;
    text-align: center;

    .img {
      width: 100%;
      margin: 0 auto 80px;

      img {
        width: 80%;
      }
    }

    .text {
      width: 75%;
      margin: auto;
      padding: 0;

      .heading-text {
        margin-right: 0;
        width: auto;
        font-size: 3.5rem;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        width: auto;
      }

      .button {
        margin: 40px auto 0;
        height: 50px;
      }
    }
  }

  .icons {
    margin: 70px auto 0;
    width: 150px;
    float: none;
  }
}

@media (max-width: 600px) {
  .container {
    .text {
      .heading-text {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }

      .button {
        width: 80%;
      }
    }
  }
}
